.container{
    display: grid;
    grid-template-columns:repeat(12,1fr) ;
    grid-template-rows: 90px auto 50px;
    height: 100vh;
    gap: 10px;
}
#Nav{
    background-color: black;
    grid-column-start: 1;
    grid-column-end: -1;
    color: white;
}
#LSB{
    background-color: skyblue;
    grid-column: 1/5;
    grid-row-start: 2;
    grid-row-end: 4;
}
#content{
    background-color: orange;
    grid-column-start: 5;
    grid-column-end: -1;
    
}
#footer{
    background-color: lime;
    grid-column-start: 5;
    grid-column-end: -1;
}
